<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<h1> Design Thinking &#128513; </h1>

<section>
<b>This page will provide a small insight into Design Thinking</b>
</section>
<em> Date: 22-03-2022 </em>
<br>
<div class="Table">
<table class="center">
    <caption>Myth vs Fact </caption>
    <thead>
        <tr>
            <th>No</th>
            <th>Myth</th>
            <th>Facts</th>

        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>Only for creating new products</td>
        <td>Find innovative solutions for services,process etc</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Increase risk of failure</td>
        <td>Actually weeds out failures more effectively</td>
    </tr>
    <tr>
        <td> 3 </td>
        <td> Is a cure-all </td>
        <td> More on Innovation</td>



    </tr>
</table>
</div>
<br>
<br>
<h2> Features of Design Thinking </h2>
<ul>
<li>Finding</li>
<li> Having </li>
<li> Improving </li>
<li>Creating</li>
<li>Addressing</li>

</ul>
<br>
<h2>Steps of Design Thinking</h2>
<br>

<div class="Steps">
<h2>1. Empathize</h2>
<p> This is where you get information from domain expert and get to know more details about the project</p>
</div>
<div class="Steps">
<h2> 2. Define </h2>
<p> Reframe and create human centric problem statements</p>
</div>
<div class="Steps">
<h2> 3. Ideate </h2>
<p> Brainstorm Radical Ideas </p>

</div>
<div class="Steps">
<h2>4. Prototype</h2>
<p> Create objects and experiences </p>
</div>

<div class="Steps">
<h2>5. Test</h2>
<p> Testing along with customer to refine solution and gather data</p>
</div>