<div class = "Timing">
<h3>Time</h3> <br>
<input type = "checkbox" name = "checkbox" class = "form-check-input"> 12:30PM
<input type = "checkbox" name = "checkbox1" class = "form-check-input"> 2:30PM
<input type = "checkbox" name = "checkbox2" class = "form-check-input"> 4:30PM
<br><br>
<h3>Venue</h3>
<input type = "checkbox" name = "checkbox" class = "form-check-input"> Singapore
<input type = "checkbox" name = "checkbox1" class = "form-check-input"> India
<input type = "checkbox" name = "checkbox2" class = "form-check-input"> New York

</div>        






<div class="Signupform">
<h2> Sign-up Form </h2>
<form>
    <label> First Name: </label>
    <input type="text" name="Fname" placeholder="Your first name here..." id="Fname">
    <br>
    <br> <label> Last Name: </label>
    <input type="text" name="Lname" placeholder="Your last name here..." id="Lname">
    <br>
    <br> <label>Email : </label>
    <input type="text" name="Email" placeholder="Email Address..." id="Email">
    <br>
    <br> <label>Password:</label>
    <input type="password" name="password" placeholder="Set your password" id="Password">
    <br>
    <br>
    <button id="Submit" onclick="Submit1()" class = "btn btn-success">Submit</button>
    <button id="Cancel" class = "btn btn-danger"> Cancel </button>
    <!-- <div class="alert alert-success">
            <strong>Success!</strong> Indicates a successful or positive action.
          </div> -->
</form>
<script>
        function Submit1() {
           
            window.alert('Your response is noted. Thank you');
            
        }

    </script>



</div>

<router-outlet></router-outlet>